
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*ESTILOS MOBILE*/

@media (max-width:1024px)  {
  
  #home .header img{
    display: block;
    display: none;
    width: 100%;
    min-width: 320px;
  }
  #about .about-box .container-titulo-about h1{
    font-size: 1.2rem;
  }
  #about .about-box .container-titulo-about h2{
    font-size: 1em;
  }
  #about .about-box .container-parrafo-about p {
    padding: 5px auto 5px auto;
    font-size: 0.7rem;
    line-height: 1,0.5rem;
  }
  #proyectos .titulo-proyectos h2{
    font-size: 1em;
  }
  #jack .about-box .container-titulo-about h2{
    font-size: 1em;
  }
  #xtremebox .about-box .container-titulo-about h2{
    font-size: 1em;
  }
  #bajotierra .about-box .container-titulo-about h2{
    font-size: 1em;
  }
  #nuevazelanda .about-box .container-titulo-about h2{
    font-size: 1em;
  }
  #titulogaleria .galeria h2{
    font-size: 1em;
  }
  #galeria .carrusel-conteiner{
     margin-top: 6px;
  }
}
























/* declaracion tipografia body */
body h1{
    font-family:'Petit Formal Script', cursive;
    font-size: 1.7rem;
    font-weight: bold;
}
body h2{
    font-family: 'Montserrat', 'sans-serif';
    font-size: 1.5rem;
}

body h3{
  font-family: 'Montserrat', 'sans-serif';
  font-size: 1rem;

}
body{
    font-family: 'Montserrat', 'sans-serif';
    font-weight: normal; 
    font-size: 12px;
    line-height: 1.1rem;
}




/*NAV*/
.menu {
  width: 100%;
  height: 75px;
  background: #6db79b;
  border-bottom: 2px solid #fd4823;
}
.menu .logo-box {
  margin-left: 20px;
  margin-bottom: 0 !important;
}
.menu .logo-box #m {
  margin-top: 10px;
}
.menu .logo-box #m a {
  font-family: 'Petit Formal Script', cursive;
  text-decoration: none;
  font-size: calc(1.545rem + 3.54vw);
  color: #fff;
  font-weight: 400;
}
@media (min-width: 1200px) {
  .menu .logo-box #m a {
    font-size: 4.2rem;
  }
}
.menu .logo-box #p {
  margin-top: 10px;
}
.menu .logo-box #p a {
  font-family: 'Petit Formal Script', cursive;
  text-decoration: none;
  font-size: calc(1.345rem + 1.14vw);
  font-weight: 50;
  color: #fff;
}
@media (min-width: 1200px) {
  .menu .logo-box #p a {
    font-size: 2.2rem;
  }
}
.menu .list-container {
  margin-right: 20px;
}
.menu .list-container ul {
  margin-bottom: 0 !important;
}
.menu .list-container ul li {
  list-style: none;
}
.menu .list-container ul li a {
  text-decoration: none;
  margin: 0px 10px;
  padding: 5px;
  border-radius: 10px;
  transition: 0.3s;
  font-size: 17px;
  color: #fff;
  transition: all 0.5s ease-out;
}
.menu .list-container ul li a:hover {
  background: #00aac7;
  color: #fff;
}
.menu .list-container ul li a.active {
  background: #217073;
  color: #fff;
}

.btn-menu > .fa-caret-down {
  display: none;
}

@media only screen and (max-width: 900px) {
  .btn-menu > .fa-caret-down {
    display: block;
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 28px;
    color: #00aac7;
    transition: 0.5s;
    cursor: pointer;
  }
  .btn-menu > .fa-caret-down:hover{
    color: #217073;
  }

  .menu .logo-box {
    margin-left: 30px;
  }
  .menu .list-container {
    margin-top: 13px;
    position: fixed;
    top: 60px;
    left: -100%;
    background: #6db79b;
    width: 100%;
    height: calc(100vh - 60px);
  }
  .menu .list-container .lists {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 2px solid #fff;
  }
  .menu .list-container ul {
    padding: 0 !important;
  }
  .menu .list-container ul li {
    width: 90%;
    border-bottom: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu .list-container ul li a {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 12px 0px;
  }
  .menu .list-container ul li a:hover {
    background: none;
    color: #fff;
  }
  .menu .list-container ul li a.active {
    background: none;
    color: #fff;
  }
}

/*estilos HOME*/

#home{
     width: 100%;
     background-color:#f0f2f2;
}

#home .header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#home .header img{
  width: 80%;
  min-width: 320px;
  border-bottom: 2px solid #fd4823;
}

#home .header-2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#home .header-2 img{
  width: 80%;
  min-width: 320px;
  border-bottom: 2px solid #fd4823;
}


/* estilos ABOUT */
#about .about-box{
  width: 100%;
  background-color:#f0f2f2;
  padding-top: 5%;
}

#about .about-box .container-titulo-about{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#about .about-box .container-titulo-about h1{
  color: #6db79b;
  text-align: center;
}

#about .about-box .container-parrafo-about{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#about .about-box .container-titulo-about h2{
  color: #f9482e;
  text-align: center;
}

#about .about-box .container-parrafo-about p{
  width: 80%;
  text-align: justify;
  color: #333232;
  padding-bottom: 2%;
}

/* estilos PROYECTOS */
#proyectos{
  background-image: url(img/proyectos/fond-2.png);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
  padding-top: 5rem;
}

#proyectos .starealacris{
  display: flex;
  justify-content: center;
  align-items: center;
}

#proyectos .titulo-proyectos {
    width: 100%;
    margin: auto;
    text-align: center;   
}

#proyectos .titulo-proyectos h2 {
  font-weight: bold;
  color: #ffffff;
  background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#proyectos .box-proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 6rem;
}

#proyectos .box-proyectos .proyectos-imgcontainer {
    width: 90%;
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30%;
    grid-template-rows: 45% 45%;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    align-items: center;
}

/* hover img proyectos*/
#proyectos .box-proyectos .proyectos-imgcontainer .grid-img a img{
    transition: all 0.5 linear;
}

#proyectos .box-proyectos .proyectos-imgcontainer .grid-img a img:hover{
    color: #ffffff;
    opacity: 80%;
}

/* estilo seccion JACK*/

#jack{
  background-image: url(img/proyectos/fond-4.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#jack .about-box{
  width: 100%;
  padding-top: 5%;
  padding-bottom: 2%;
}

#jack .about-box .container-titulo-about{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#jack .about-box .container-titulo-about h3{
  color: #fff;
  text-align: center;
  font-weight: normal;
}

#jack .about-box .container-titulo-about h2{
  color: #fff;
  text-align: center;
  font-weight: bold;
}

#jack .about-box .container-parrafo-about{
  width: 100%;
  padding: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

#jack .about-box .container-parrafo-about p{
  width: 80%;
  text-align: justify;
  color: #292828;
}

#jack .img-box{
  width: 100%;
  height: 100%;
}

#jack .img-box .img-contenedor{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#jack .img-box .img-contenedor img{
  width: 45%;
}


/* estilo seccion XTREME BOX*/

#xtremebox{
  background-image: url(img/proyectos/fond-4.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#xtremebox .about-box{
  width: 100%;
  padding-top: 5%;
  padding-bottom: 2%;
}

#xtremebox .about-box .container-titulo-about{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#xtremebox .about-box .container-titulo-about h3{
  color: #fff;
  text-align: center;
  font-weight: normal;
}

#xtremebox .about-box .container-titulo-about h2{
  color: #fff;
  text-align: center;
  font-weight: bold;
}


#xtremebox .about-box .container-parrafo-about{
  width: 100%;
  padding: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

#xtremebox .about-box .container-parrafo-about p{
  width: 80%;
  text-align: justify;
  color: #292828;
}

#xtremebox .img-box{
  width: 100%;
  height: 100%;
}

#xtremebox .img-box .img-contenedor{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#xtremebox .img-box .img-contenedor img{
  width: 45%;
}


/* estilo seccion BAJO TIERRA*/

#bajotierra{
  background-image: url(img/proyectos/fond-4.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#bajotierra .about-box{
  width: 100%;
  padding-top: 5%;
  padding-bottom: 2%;
}

#bajotierra .about-box .container-titulo-about{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#bajotierra .about-box .container-titulo-about h3{
  color: #fff;
  text-align: center;
  font-weight: normal;
}

#bajotierra .about-box .container-titulo-about h2{
  color: #fff;
  text-align: center;
  font-weight: bold;
}

#bajotierra .about-box .container-parrafo-about{
  width: 100%;
  padding: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

#bajotierra .about-box .container-parrafo-about p{
  width: 80%;
  text-align: justify;
  color: #292828;
}

#bajotierra .img-box{
  width: 100%;
  height: 100%;
}

#bajotierra .img-box .img-contenedor{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#bajotierra .img-box .img-contenedor img{
  width: 45%;
}


/* estilo seccion NUEVA ZELANDA*/

#nuevazelanda{
  background-image: url(img/proyectos/fond-4.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#nuevazelanda .about-box{
  width: 100%;
  padding-top: 5%;
  padding-bottom: 2%;
}

#nuevazelanda .about-box .container-titulo-about{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#nuevazelanda .about-box .container-titulo-about h3{
  color: #fff;
  text-align: center;
  font-weight: normal;
}

#nuevazelanda .about-box .container-titulo-about h2{
  color: #fff;
  text-align: center;
  font-weight: bold;
}

#nuevazelanda .about-box .container-parrafo-about{
  width: 100%;
  padding: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

#nuevazelanda .about-box .container-parrafo-about p{
  width: 80%;
  text-align: justify;
  color: #292828;
}

#nuevazelanda .img-box{
  width: 100%;
  height: 100%;
}

#nuevazelanda .img-box .img-contenedor{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#nuevazelanda .img-box .img-contenedor img{
  width: 45%;
  padding-bottom: 3%;
}


/* estilos CAROUSEL */
#titulogaleria{
  width: 100%;
  height: 100%;
  padding: 2%;
  background: #e0dcdc;
}

#titulogaleria .galeria{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5%;
}

#titulogaleria .galeria h2{
  color: #217073;
  font-weight: bold; 
}

#galeria {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    background: #e2e0e0;
}

#galeria .carrusel-conteiner {
    width:60%;
    margin: 5%;
    height: 80%;
}

#galeria .carrusel-conteiner #photo-services {
    width: 70%;
}


/* estilos CONTACTO*/

#contacto{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contacto .container{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background:url(html/img/contacto/fond-4.png);
}











































/*ESTILOS DESKTOP*/

@media (min-width: 961px) {

  #home .header-2 img{
     display: block;
    display: none;
  }
}



